body {
  background-color: #1B1B1B;
  color:white;
  overflow:auto;
}
#img_top {
  position:fixed;
  display: inline;
}
#usr_img:hover {
  border-radius: 100%;
  border:2px solid #00ff00;
  margin-right: 30px;
  cursor:pointer;
}
#usr_img {
  border-radius: 100%;
  margin-right: 30px;
}
#top {
  margin: 5px;
  float: right;
  display: inline;
}

#header {
  top:5;
  position:fixed;
  height: 15%;
  background-color: #000000;
  border-radius: 10px;
  width:100%;
  overflow: auto;
}
#dat {
  border-radius: 10px;
  text-align: center;
  border: 3px solid red;
}
#toolbar {
  float:left;
  position:fixed;
  height: 82.7%;
  bottom:0px ;
  border-radius: 10px;
  width:15%;
  z-index:100;
}

#space {
  position: fixed;
  float:right;
  attachment:fixed;
  height: 82.7%;
  bottom: 0px;
  border-radius: 10px;
  width:98.9%;
  z-index:0;
}
#intent {
  background-color:#ffffff;
  border-radius: 10px;
  border:2px solid red;
  float:right;
}

a:hover{
  color: #00FF00;
  cursor: pointer;
  }
a {
  background-color: Transparent;
  color:#ffffff;
  border:0;
  font-family:sans-serif;
  text-decoration-line: none;
}
